<!--
<button (click)="generarFacturaB()">Factura B</button>
<button (click)="generarFacturaA()">Factura A</button>-->


<mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar venta">
</mat-form-field>

<div class="mat-elevation-z8">

    <table mat-table class="full-width-table" matSort [dataSource]="dataSource">

        <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</th>
            <td mat-cell *matCellDef="let venta">{{ getNombreCliente(venta) }}</td>
        </ng-container>

        <ng-container matColumnDef="fecha">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha</th>
            <td mat-cell *matCellDef="let venta">{{ formatearFecha(venta.fecha) }}</td>
        </ng-container>

        <ng-container matColumnDef="montoTotal">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Monto</th>
            <td mat-cell *matCellDef="let venta">{{ formatearMoneda(venta.montoTotal) }}</td>
        </ng-container>

        <ng-container matColumnDef="factura">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Factura</th>
            <td mat-cell *matCellDef="let venta">
                <div *ngIf="verTipoFactura(venta); then facturaB else facturaA"></div>
                <ng-template #facturaB>
                    <button (click)="generarFacturaB(venta)" >Factura B</button>
                </ng-template>
                <ng-template #facturaA>
                    <button (click)="generarFacturaA(venta)" >Factura A</button>
                </ng-template>
            </td>
        </ng-container>

        <ng-container matColumnDef="remito">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Remito</th>
            <td mat-cell *matCellDef="let venta">
            <button (click)="generarRemito(venta)" mat-stroked-button>Remito</button>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>

    <mat-paginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>

</div>