<mat-dialog-content>
    <h2>Cuenta corriente de {{ nombre() }}</h2>

    <div *ngIf="sinCuenta(); then thenBlock else elseBlock"></div>

    <ng-template #thenBlock>Este cliente no tiene cuenta o la misma está desactivada. Ir a 'Editar cliente' para
        asignarle una.</ng-template>

    <ng-template #elseBlock>
        <ul>
            <li> Esta cuenta tiene definido un límite de crédito máximo de
                <strong>${{ cliente.cuenta.creditoMaximo }}</strong>.
            </li>
            <li> Del crédito ha utilizado un total de ${{ cliente.cuenta.saldoGastado }}, por lo que tiene disponibles
                <span
                    style="color: green"><strong>${{ cliente.cuenta.creditoMaximo - cliente.cuenta.saldoGastado }}</strong></span>
                para su uso.
            </li>
            <li> Su recibo de sueldo se actualizó por última vez el
                {{ formatearFecha(cliente.cuenta.fechaDeActualizacion) }}.</li>
        </ul>
    </ng-template>

</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-raised-button color="primary" mat-dialog-close tabindex="-1">Cerrar</button>
</mat-dialog-actions>