<mat-dialog-content>
    <h2>Cuenta corriente de {{ nombre() }}</h2>

    <div *ngIf="sinCuenta(); then thenBlock else elseBlock"></div>

    <ng-template #thenBlock>Este cliente no tiene cuenta o la misma está desactivada. Ir a 'Editar cliente' para
        asignarle una.</ng-template>

    <ng-template #elseBlock>
        <ul>
            <li> Esta cuenta tiene definido un límite de crédito máximo de
                <strong>${{ getCreditoMaximo() }}</strong>.
            </li>
            <li> Del crédito ha utilizado un total de <span
                    style="color: red"><strong>${{ getSaldoGastado() }}</strong></span>, por lo que tiene
                disponibles
                <span
                    style="color: green"><strong>${{ getSaldoDisponible() }}</strong></span>
                para su uso.
            </li>
            <li> Su recibo de sueldo se actualizó por última vez el
                <strong>{{ formatearFecha(cliente.cuenta.fechaDeActualizacion) }}</strong>.</li>
        </ul>
    </ng-template>

</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-raised-button color="primary" mat-dialog-close tabindex="-1">Cerrar</button>
</mat-dialog-actions>