<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar cliente">
</mat-form-field>

<div class="mat-elevation-z8">
  <table mat-table class="full-width-table" matSort [dataSource]="dataSource">

    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</th>
      <td mat-cell *matCellDef="let cliente">{{ cliente.nombre }}</td>
    </ng-container>

    <ng-container matColumnDef="apellido">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Apellido</th>
      <td mat-cell *matCellDef="let cliente">{{ cliente.apellido }}</td>
    </ng-container>

    <ng-container matColumnDef="direccion">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Direccion</th>
      <td mat-cell *matCellDef="let cliente">{{ cliente.direccion }}</td>
    </ng-container>

    <ng-container matColumnDef="historial">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Historial de compras</th>
      <td mat-cell *matCellDef="let cliente">
        <a style="position: middler; left: 10%;" mat-mini-fab (click)="abrirDialogoHistorial(cliente)">
          <mat-icon>link</mat-icon>
        </a>
      </td>
    </ng-container>

    <ng-container matColumnDef="editar">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Editar</th>
      <td mat-cell *matCellDef="let cliente">
          <a class="centrar" mat-mini-fab [routerLink]="['/editar-cliente', cliente._id]">
              <mat-icon>edit</mat-icon>
          </a>
      </td>
  </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>

</div>