<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar cliente">
</mat-form-field>

<div class="mat-elevation-z8">
  <table mat-table class="full-width-table" matSort [dataSource]="dataSource">

    <ng-container matColumnDef="nombreCompleto">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</th>
      <td mat-cell *matCellDef="let cliente">{{ nombre(cliente) }}</td>
    </ng-container>


    <ng-container matColumnDef="direccion">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Direccion</th>
      <td mat-cell *matCellDef="let cliente">{{ cliente.direccion }}</td>
    </ng-container>

    <ng-container matColumnDef="telefono">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Teléfono</th>
      <td mat-cell *matCellDef="let cliente">{{ cliente.telefono }}</td>
    </ng-container>

    <ng-container matColumnDef="historial">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Historial de compras</th>
      <td mat-cell *matCellDef="let cliente">
        <a class="centrar" mat-button color="primary" (click)="abrirDialogoHistorial(cliente)">
          <mat-icon>shopping_basket</mat-icon>
        </a>
      </td>
    </ng-container>

    <ng-container matColumnDef="notas">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Historial de notas</th>
      <td mat-cell *matCellDef="let cliente">
        <a class="centrar" mat-button color="primary" color="primary" (click)="abrirDialogoNotas(cliente)">
          <mat-icon>assessment</mat-icon>
        </a>
      </td>
    </ng-container>

    <ng-container matColumnDef="cuenta">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Estado de la cuenta</th>
      <td mat-cell *matCellDef="let cliente">
        <a class="centrar" mat-button color="primary" color="primary" (click)="abrirDialogoCuenta(cliente)">
          <mat-icon>account_box</mat-icon>
        </a>
      </td>
    </ng-container>

    <ng-container matColumnDef="editar">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Editar</th>
      <td mat-cell *matCellDef="let cliente">
        <a class="centrar" mat-button color="primary" [routerLink]="['/editar-cliente', cliente._id]">
          <mat-icon>edit</mat-icon>
        </a>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>

</div>