<form [formGroup]="pedidoForm" novalidate (ngSubmit)="cargarPedido()">
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>Nuevo documento de venta</mat-card-title>
    </mat-card-header>

    <mat-card-content>

      <table class="full-width">
        <tr>

          <td>
            <mat-form-field class="full-width">
              <input matInput [matDatepicker]="picker" placeholder="Fecha de emisión" formControlName="fecha">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
              <mat-error *ngIf="esRequerido('fecha')">
                La <strong>fecha de emisión</strong> es requerida
              </mat-error>
            </mat-form-field>
          </td>

          <td>
            <mat-form-field class="full-width">
              <mat-select placeholder="Cliente" formControlName="cliente">
                <mat-option *ngFor="let cli of clientes" [value]="cli._id">
                  {{ cli.nombre + ' ' + cli.apellido }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="esRequerido('cliente')">
                El <strong>cliente</strong> es requerido.
              </mat-error>
            </mat-form-field>
          </td>

          <td>
            <mat-form-field class="full-width">
              <mat-select placeholder="Vendedor">
                <mat-option>
                  Test
                </mat-option>
              </mat-select>
            </mat-form-field>
          </td>

        </tr>
      </table>

      <button mat-stroked-button color="primary" type="button" (click)="agregarFilaVenta()" [disabled]="mayorANueve()">+
        Añadir fila</button>

      <div formArrayName="ventas" *ngFor="let venta of traerVentas.controls; let i = index;">
        <div [formGroupName]="i" style="display: inline;">
          <table class="full-width" cellspacing="0">
            <tr>

              <td>
                <mat-form-field class="full-width">
                  <mat-select placeholder="Artículo" formControlName="articulo">
                    <mat-option *ngFor="let art of articulos" [value]="art">
                      {{ art.nombre }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </td>

              <td>
                <mat-form-field class="full-width">
                  <input matInput type="number" min=1 placeholder="Cantidad" formControlName="cantidad">
                </mat-form-field>
              </td>

              <td>
                <mat-form-field class="full-width">
                  <mat-select placeholder="Precio unitario" formControlName="precio">
                    <mat-option *ngFor="let precio of traerPrecios(i)" [value]="precio">
                      {{ formatearMoneda(precio) }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </td>

              <td>
                <mat-form-field class="full-width">
                  <input matInput type="number" placeholder="Diferencia" formControlName="diferencia">
                </mat-form-field>
              </td>

              <td>
                <mat-form-field class="full-width">
                  <input disabled matInput placeholder="Importe" [value]="calcularImporte(i)">
                </mat-form-field>
              </td>

              <td>
                <button mat-mini-fab color="warn" type="button" (click)="eliminarFilaVenta(i)"
                  [disabled]="i == 0">x</button>
              </td>

            </tr>
          </table>
        </div>
      </div>

      <div>
        <table class="full-width" cellspacing="0">
          <tr>

            <td>
              <mat-radio-group formControlName="envio">
                <mat-radio-button value="1">Con envío</mat-radio-button>
                <mat-radio-button value="0">Sin envío</mat-radio-button>
              </mat-radio-group>
            </td>

            <td>
              <mat-form-field class="full-width">
                <mat-select placeholder="Método de pago" formControlName="metodopago">
                  <mat-option *ngFor="let metodo of metodosDePago" [value]="metodo">
                    {{ metodo }}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="esRequerido('cliente')">
                  El <strong>método de pago</strong> es requerido.
                </mat-error>
              </mat-form-field>
            </td>

            <td>
              <button mat-stroked-button color="primary" type="button" (click)="calcularImporteTotal()">Calcular
                total</button>
            </td>

            <td>
              <mat-form-field class="full-width">
                <input disabled matInput placeholder="Importe total" [value]="formatearMoneda(importeTotal)">
              </mat-form-field>
            </td>

          </tr>
        </table>
      </div>

      <div style="margin-top: 1%">
        <mat-form-field class="full-width" appearance="outline">
          <textarea rows="5" matInput #observaciones placeholder="Observaciones" formControlName="observaciones"
            maxlength="512" style="resize: none;"></textarea>
          <mat-hint align="end">{{ observaciones.value.length }} / 512</mat-hint>
        </mat-form-field>
      </div>

    </mat-card-content>

    <mat-divider></mat-divider>

    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Guardar</button>
    </mat-card-actions>
  </mat-card>
</form>