<mat-dialog-content>
    <h2>{{ titulo }}</h2>

    <div *ngIf="sinCompras(); then thenBlock else elseBlock"></div>

    <ng-template #thenBlock>Este cliente todavía no ha realizado ninguna compra.</ng-template>

    <ng-template #elseBlock>
        <ul>
            <li *ngFor="let compra of compras">
                {{ formatearVenta(compra) }}
                <ul>
                    <li *ngFor="let filaVenta of compra.ventas">
                        {{ formatearFilaVenta(filaVenta) }}
                    </li>
                </ul>
            </li>
        </ul>
    </ng-template>

</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-raised-button color="primary" mat-dialog-close tabindex="-1">Cerrar</button>
</mat-dialog-actions>