.mat-radio-button {
  margin-right: 10px;
}

button {
  margin: auto;
  margin-bottom: 1%;
  display: block;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: flex-start;
}

.child {
  padding: 5px;
}

.g-1 {
  flex-grow: 1;
}

.g-3 {
  flex-grow: 3;
}

.margen-arriba {
  margin-top: 0.5%;
}

.margen-abajo {
  margin-bottom: 1%;
}

.fila {
  margin-bottom: 0.5%;
}

.rojo {
  color: red;
}

.verde {
  color: forestgreen;
}
