<form [formGroup]="ventaForm" novalidate (ngSubmit)="cargarVenta()">
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>Nueva venta</mat-card-title>
    </mat-card-header>

    <mat-card-content>

      <div class="flex">

        <mat-form-field class="child">
          <input matInput [matDatepicker]="picker" placeholder="Fecha de emisión (*)" formControlName="fecha">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error *ngIf="esRequerido('fecha')">
            La <strong>fecha de emisión</strong> es requerida
          </mat-error>
        </mat-form-field>

        <mat-form-field class="child g-1">
          <mat-select placeholder="Cliente (*)" formControlName="cliente">
            <mat-option *ngFor="let cli of clientes" [value]="cli._id">
              {{ cli.nombre + ' ' + cli.apellido }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="esRequerido('cliente')">
            El <strong>cliente</strong> es requerido.
          </mat-error>
        </mat-form-field>

        <mat-form-field class="child g-1">
          <mat-select placeholder="Vendedor">
            <mat-option>
              Test
            </mat-option>
          </mat-select>
        </mat-form-field>

      </div>

      <button mat-stroked-button color="primary" type="button" (click)="agregarFilaVenta()" [disabled]="mayorANueve()">
        <mat-icon>add</mat-icon>
        Añadir fila
      </button>

      <div formArrayName="ventas" *ngFor="let venta of traerVentas.controls; let i = index;">
        <div [formGroupName]="i" class="flex">

          <mat-form-field class="child g-3">
            <mat-select placeholder="Artículo (*)" formControlName="articulo">
              <mat-option *ngFor="let art of articulos" [value]="art">
                {{ art.nombre }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="child g-1">
            <input matInput disabled type="number" placeholder="Stock actual" [value]="traerStockActual(i)">
          </mat-form-field>

          <mat-form-field class="child g-1">
            <input matInput type="number" min=1 placeholder="Cantidad (*)" formControlName="cantidad"
              (change)="actualizarValidacionStock(i)">
            <mat-error *ngIf="noHayStock(i)">
              ¡Stock insuficiente!
            </mat-error>

          </mat-form-field>

          <mat-form-field class="child g-1">
            <mat-select placeholder="Precio unitario (*)" formControlName="precio">
              <mat-option *ngFor="let precio of traerPrecios(i)" [value]="precio">
                {{ formatearMoneda(precio) }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="child g-1">
            <input matInput type="number" placeholder="Diferencia por unidad" formControlName="diferencia">
            <span matPrefix>$ &nbsp;</span>
          </mat-form-field>

          <mat-form-field class="child g-1">
            <input disabled matInput placeholder="Importe" [value]="calcularImporte(i)">
          </mat-form-field>

          <div class="child">
            <button mat-mini-fab color="warn" type="button" (click)="eliminarFilaVenta(i)" [disabled]="i == 0">
              <mat-icon>clear</mat-icon>
            </button>
          </div>

        </div>
      </div>

      <div class="flex">

        <mat-radio-group formControlName="envio" class="child">
          <mat-radio-button value="1">Con envío</mat-radio-button>
          <mat-radio-button value="0">Sin envío</mat-radio-button>
        </mat-radio-group>

        <mat-form-field class="child g-1">
          <mat-select placeholder="Método de pago (*)" formControlName="metodoDePago">
            <mat-option *ngFor="let metodo of metodosDePago" [value]="metodo">
              {{ metodo }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="esRequerido('cliente')">
            El <strong>método de pago</strong> es requerido.
          </mat-error>
        </mat-form-field>

        <mat-form-field class="child">
          <input matInput type="number" placeholder="Gravado" formControlName="gravado">
          <span matSuffix>%</span>
        </mat-form-field>

        <mat-form-field class="child g-1">
          <input disabled matInput placeholder="Importe total" [value]="formatearMoneda(importeTotal)">
          <span matPrefix>
            <button mat-button color="primary" type="button" (click)="calcularImporteTotal()"
              style="margin-right: 5px;">
              <mat-icon>shopping_cart</mat-icon>Calcular
              total
            </button>
          </span>
        </mat-form-field>

      </div>

      <ng-template [ngIf]="esConCredito()">
        <div>Este quiere comprar con crédito, verificar que tenga guita.</div>
      </ng-template>

      <div style="margin-top: 1%">
        <mat-form-field class="full-width" appearance="outline">
          <textarea rows="5" matInput #observaciones placeholder="Observaciones" formControlName="observaciones"
            maxlength="512" style="resize: none;"></textarea>
          <mat-hint align="end">{{ observaciones.value.length }} / 512</mat-hint>
        </mat-form-field>
      </div>

    </mat-card-content>

    <mat-divider></mat-divider>

    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">
        <mat-icon>save</mat-icon> Guardar
      </button>
    </mat-card-actions>

  </mat-card>
</form>