<form [formGroup]="clienteForm" novalidate (ngSubmit)="cargarCliente()">
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>Nuevo cliente</mat-card-title>
    </mat-card-header>
    <mat-card-content>

      <div class="flex">

        <mat-form-field class="child">
          <input matInput placeholder="Organización" formControlName="organizacion">
        </mat-form-field>

        <mat-form-field class="child">
          <input matInput placeholder="Nombre (*)" formControlName="nombre">
          <mat-error *ngIf="esRequerido('nombre')">
            El <strong>nombre</strong> del cliente es requerido.
          </mat-error>
        </mat-form-field>

        <mat-form-field class="child">
          <input matInput placeholder="Apellido (*)" formControlName="apellido">
          <mat-error *ngIf="esRequerido('apellido')">
            El <strong>apellido</strong> del cliente es requerido.
          </mat-error>
        </mat-form-field>

        <mat-form-field class="child">
          <input matInput type="number" placeholder="Teléfono" formControlName="telefono">
        </mat-form-field>

      </div>

      <div class="flex">
        <mat-form-field class="child">
          <mat-select placeholder="Provincia (*)" formControlName="provincia">
            <mat-option *ngFor="let pr of provincias | orderBy:'nombre'" [value]="pr.nombre">
              {{ pr.nombre }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="esRequerido('provincia')">
            La provincia es <strong>requerida</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="child">
          <input matInput placeholder="Ciudad (*)" formControlName="ciudad">
          <mat-error *ngIf="esRequerido('ciudad')">
            La <strong>ciudad</strong> es requerida.
          </mat-error>
        </mat-form-field>

        <mat-form-field class="child">
          <input matInput #cp maxlength="5" placeholder="Código postal (*)" type="number"
            formControlName="codigoPostal">
          <mat-error *ngIf="esRequerido('codigoPostal')">
            La <strong>ciudad</strong> es requerida.
          </mat-error>
        </mat-form-field>
      </div>

      <div class="flex">
        <mat-form-field class="child">
          <input matInput placeholder="C.U.I.T" formControlName="cuit">
        </mat-form-field>

        <mat-form-field class="child">
          <input matInput placeholder="C.U.I.L" formControlName="cuil">
        </mat-form-field>

        <mat-form-field class="child">
          <input matInput [matDatepicker]="picker" placeholder="Fecha de inicio de actividad"
            formControlName="fechaDeInicio">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>

      <div class="flex">
        <mat-form-field class="child">
          <textarea matInput placeholder="Dirección (*)" formControlName="direccion"></textarea>
          <mat-error *ngIf="esRequerido('direccion')">
            La <strong>dirección</strong> del cliente es requerida
          </mat-error>
        </mat-form-field>

        <div class="child">
          <div *ngIf="!tieneDirAlt">
            <button mat-button type="button" (click)="tieneDirAlt = !tieneDirAlt">
              + Añadir dirección alternativa
            </button>
          </div>

          <div *ngIf="tieneDirAlt">
            <mat-form-field class="full-width">
              <textarea matInput placeholder="Dirección alternativa" formControlName="direccionAlternativa"></textarea>
            </mat-form-field>
          </div>
        </div>
      </div>

      <div>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Cuenta cliente
            </mat-panel-title>
            <mat-panel-description>
              Datos relacionados a la cuenta del cliente (opcional)
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="flex">
            <mat-slide-toggle class="child" formControlName="estado">
              Cuenta activa
            </mat-slide-toggle>

            <mat-form-field class="child">
              <input matInput type="number" placeholder="Monto de crédito otorgado" formControlName="creditoMaximo">
            </mat-form-field>

            <mat-form-field class="child">
              <input matInput [matDatepicker]="picker2" placeholder="Fecha de actualización de recibo"
                formControlName="fechaDeActualizacion">
              <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
              <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field>

          </div>
        </mat-expansion-panel>
      </div>

    </mat-card-content>

    <mat-divider></mat-divider>

    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Enviar</button>
    </mat-card-actions>
  </mat-card>
</form>