.mat-radio-button {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: flex-start;
}

.child {
  flex-grow: 1;
  padding: 5px;
}